body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.move-icon {
  height: 50px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 5rem;
  height: 5rem;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score {
  margin-top: 60px;
}

.reset-score-button,
.auto-play-button {
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 8px;
  border: 3px solid yellow;
}

.js-reset-score-yes {
  background-color: rgb(174, 33, 33);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 90px;
  font-size: 15px;
}
.js-reset-score-no {
  background-color: rgb(15, 131, 15);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 15px;
}
